<template lang="pug">
  .member
    v-avatar(tile, size="320")
      img(
      :src="imgAvatar.src"
      :srcset="imgAvatar.srcSet"
      :lazy-src="imgAvatar.placeholder")
    .memberInfo
      h2 {{name}}
      p {{bio}}
</template>
<script>
export default {
  props: {
    img: {
      default: 'avatar.jpg',
      type: String
    },
    name: {
      default: 'Jane Doe',
      type: String
    },
    bio: {
      default: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lorem sapien, condimentum sed nisi sed, lacinia pretium risus. Aliquam       pulvinar lacus enim, vitae malesuada nisl convallis eget. Pellentesque       volutpat pharetra felis id semper. Sed ac sem et orci lobortis  pellentesque id eleifend nulla',
      type: String
    }
  },
  computed: {
    imgAvatar() {
      return require(`~/assets/${this.img}`)
    }
  }
}
</script>
<style lang="styl" scoped>
.member
  margin-bottom: 100px
  display: flex
  flex-direction: column
  .memberInfo
    h2
      font-size: 35px
      margin-bottom: 10px
      margin-top: 49px
    p
      font-size: 20px
@media(min-width: 1024px)
  .member
    flex-direction: row
    .memberInfo
      margin-left: 50px
      h2
        margin-top: 0
</style>
