<template lang="pug">
  .wrapper.elevation-12
    video(autoplay loop poster="/geometry.jpg", muted, preload)
      source(src="/geometry.mp4", type="video/mp4")
      source(src="/geometry.webm", type="video/webm; codecs=vp9,vorbis")
</template>
<style lang="styl" scoped>
w = 314px
h = 181px
.wrapper
  border: 4px solid black
  width: w
  height: h
  background: url('/geometry.jpg')
  background-size: cover
  video
    width: 100%
    min-height: 100%

@media(min-width: 1024px)
  .wrapper
    width: w * 1.5
    height: h * 1.5
</style>
