<template lang="pug">
  .allWrapper
    section.firstFold
      .logo
        logo
        img(src="~assets/digital-art-drive.svg")
      h1 Store your art collection in a reliable place
      p Save your digital art collection in the most reliable network of artists and cultural institutions.
      requestDemo
      .signsWrapper
        oval.oval
        waves.waves
        triangle.triangle
        square.square
    .vidWrapper
      vid(style="position:absolute; top: -80px;")
    .imgWrapper
</template>
<script>
import logo from '~/components/logo.vue'
import oval from '~/components/oval.vue'
import triangle from '~/components/triangle.vue'
import waves from '~/components/waves.vue'
import square from '~/components/square.vue'
import requestDemo from '~/components/requestDemo.vue'
import vid from '~/components/display.vue'
export default {
  components: {
    vid,
    logo,
    oval,
    triangle,
    square,
    waves,
    requestDemo
  }
}
</script>
<style lang="styl" scoped>
@require '~assets/style/colors.styl'
.firstFold
  background: yellow-100
  h1
   font-size: 45px
   line-height: 1.2
   margin-bottom: 15px
  p
    font-size: 20px
    font-weight: normal
    line-height: 1.4
  .signsWrapper
    margin-top: 68px
    background: yellow-100
    width: 100%
    height: 164px
    position: relative
    .oval
      position: absolute
      top: -55px
      right: 72px
    .waves
      position: absolute
      top: 22px
      right: 152px
    .triangle
      position: absolute
      top: 45px
      right: 0px
    .square
      display: none
.img
  margin-top: -80px
  display: flex
  align-items: center
.logo
  margin-left: -20px
  display: flex
  align-items: center

.imgWrapper
  position: relative
  margin-top: -0px
  min-height: 397px
  background: url('~assets/firstfold.png')
  background-size: cover
  img
    width: 100%

.vidWrapper
  display: flex
  position: relative
  display: flex
  justify-content: center
  z-index: 9
  align-items: center
  margin-top: 0px

.v-btn--large
    font-size: 20px
    height: 64px
    text-transform: initial
    padding: 0 32px

@media(min-width: 1024px)
  .allWrapper
    display: flex

  .firstFold
    width: 70vw
    h1, p
      max-width: 300px
    .signsWrapper
      .oval
        top: -500px
        right: -120px
      .waves
        top: -152px
        right: 72px
      .triangle
        top: -40px
        right: -70px
  .logo
    margin-left: -130px
    section
      padding-left: 0
      padding-right: 0
    img
      margin-left: 45px
  .vidWrapper
    top: 180px
  .imgWrapper
    background: #eaeaea url('~assets/firstfold.png')
    background-size: cover
    background-position-y: 120px
    background-repeat: no-repeat
    width: 30vw

@media(min-width: 1180px)
  .firstFold
    width: 70vw
    h1, p
      max-width: 300px
    .signsWrapper
      .square
        display: block
        position: absolute
        top: -300px
        right: 110px
</style>
