<template lang="pug">
  div
    .footer
      nuxt-link(to="/privacycookies") Privacy & Cookies
      span |
      span &copy; {{year}} Digital Art Drive
    .footer
      v-img(src="/logoministerio.jpg" width="25%")
</template>
<script>
export default {
  computed: {
    year() {
      return new Date().getFullYear()
    }
  }
}
</script>
<style lang="styl" scoped>
.footer
  margin-top: 66px
  font-size: 16px
  font-family: 'Open Sans', sans-serif
  display: flex
  justify-content: space-between
  a
    color: black
</style>
