<template lang="pug">
  section.fourthFold
    h1 Our team
    avatar(:img="diego.img", :name="diego.name", :bio="diego.bio")
    avatar(:img="gema.img", :name="gema.name", :bio="gema.bio")
    avatar(:img="scifabric.img", :name="scifabric.name", :bio="scifabric.bio")
    .network
      h3 Ready to join the network?
      div
        requestDemo(cta='Contact us')
</template>
<script>
import avatar from '~/components/avatar.vue'
import requestDemo from '~/components/requestDemo'
export default {
  components: {
    avatar,
    requestDemo
  },
  data() {
    return {
      scifabric: {
        img: 'scifabric.jpg',
        name: 'Scifabric LTD',
        bio: `Scifabric develops web projects, specially within the crowdsourcing subject for research institutions or private companies.`
      },
      diego: {
        img: 'diego.jpg',
        name: 'Diego Mellado',
        bio: `Diego Mellado Martínez es Ingeniero Superior de Telecomunicaciones por la Universidad Carlos III de Madrid y actualmente cursa el programa de Master en Historia del Arte MediaArtHistories en la Danube University de Krems, Austria.
Durante más de 9 años ha trabajado en el estudio de Daniel Canogar como ingeniero y project manager además de colaborar con otros artistas de arte digital y de nuevos medios, en el diseño, test y producción de sus obras
Durante los últimos 3 años investiga en la conservación y restauración técnica
      de obras de arte de nuevos medios.`
      },
      gema: {
        img: 'gema.jpg',
        name: 'Gema ',
        bio: `Conservadora-Restauradora de Arte Contemporáneo y Nuevos Medios. Ha trabajado entre otros en el Museo Reina Sofía, el Museo Patio Herreriano, el Centro de Arte 2 de Mayo y La Casa Encendida. Su labor se centra en la gestión de las obras que contienen elementos audiovisuales desde la adquisición pasando por su instalación, el préstamo y las estrategias de conservación a largo plazo proporcionando la documentación necesaria, los protocolos de conservación y restauración de los elementos físicos de estas obras y la preservación digital de los elementos lógicos. `
      }
    }
  }
}
</script>
<style lang="styl" scoped>
.fourthFold
  margin-top: 56px
  h1
    font-size: 45px
    margin-bottom: 42px
  .network
    display: flex
    flex-direction: column
    align-items: center
    margin-bottom: 204px
    margin-top: 147px
    h3
      font-size: 40px
      line-height: 1.1
      text-align: center
      margin-bottom: 42px
</style>
