<template lang="pug">
  section
    svg#svg27(xmlns:dc='http://purl.org/dc/elements/1.1/',
    xmlns:cc='http://creativecommons.org/ns#',
    xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns#',
    xmlns:svg='http://www.w3.org/2000/svg', xmlns='http://www.w3.org/2000/svg',
    xmlns:xlink='http://www.w3.org/1999/xlink',
    xmlns:sodipodi='http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd',
    xmlns:inkscape='http://www.inkscape.org/namespaces/inkscape', :width='width', viewBox='0 0 90 78', data-v-0d899434='', version='1.1', sodipodi:docname='logo.svg', inkscape:version='0.92.3 (2405546, 2018-03-11)')
      metadata#metadata31
        rdf:rdf
          cc:work(rdf:about='')
            dc:format image/svg+xml
            dc:type(rdf:resource='http://purl.org/dc/dcmitype/StillImage')
            dc:title
      sodipodi:namedview#namedview29(pagecolor='#ffffff', bordercolor='#666666', borderopacity='1', objecttolerance='10', gridtolerance='10', guidetolerance='10', inkscape:pageopacity='0', inkscape:pageshadow='2', inkscape:window-width='1853', inkscape:window-height='1017', showgrid='false', fit-margin-top='0', fit-margin-left='0', fit-margin-right='0', fit-margin-bottom='0', inkscape:zoom='7.8995124', inkscape:cx='8.6910192', inkscape:cy='38.595943', inkscape:window-x='1987', inkscape:window-y='27', inkscape:window-maximized='1', inkscape:current-layer='svg27')
      defs#defs5(data-v-0d899434='')
        path#bLogo(d='M 0,33.309 12.759,12.803 57.518,18.563 74,33.5 62.666,53.688 12.76,64.016 Z', data-v-0d899434='', inkscape:connector-curvature='0')
        path#dLogo(d='M 11.746,23.309 25.17,8.729 59.317,21.097 53.747,57.581 28.304,58.854 13.544,59.943 Z', data-v-0d899434='', inkscape:connector-curvature='0')
        path#fLogo(d='M 12.92,35.91 36.166,12.22 41.219,28.055 64.604,33.335 41.219,44.521 29.708,71 26.079,44.522 Z', data-v-0d899434='', inkscape:connector-curvature='0')
        filter#filter65(style='color-interpolation-filters:sRGB', inkscape:label='Drop Shadow')
          feflood#feFlood55(flood-opacity='0.498039', flood-color='rgb(0,0,0)', result='flood')
          fecomposite#feComposite57(in='flood', in2='SourceGraphic', operator='in', result='composite1')
          fegaussianblur#feGaussianBlur59(in='composite1', stdDeviation='4', result='blur')
          feoffset#feOffset61(dx='3', dy='3', result='offset')
          fecomposite#feComposite63(in='SourceGraphic', in2='offset', operator='over', result='composite2')
      g#g25(data-v-0d899434='', transform='translate(-20.000001,-15.106946)', style='fill:none;fill-rule:evenodd;filter:url(#filter65)')
        g#g11(transform='translate(28,15)', data-v-0d899434='')
          use#use7(xlink:href='#bLogo', data-v-0d899434='', style='fill:#000000', x='0', y='0', width='100%', height='100%')
          use#use9(xlink:href='#bLogo', data-v-0d899434='', style='fill:#6135ae', x='0', y='0', width='100%', height='100%')
        g#g17(transform='rotate(-56,63.637,15.506)', data-v-0d899434='')
          use#use13(xlink:href='#dLogo', data-v-0d899434='', style='fill:#000000', x='0', y='0', width='100%', height='100%')
          use#use15(xlink:href='#dLogo', data-v-0d899434='', style='fill:#ab7ffb', x='0', y='0', width='100%', height='100%')
        g#g23(transform='translate(28,15)', data-v-0d899434='')
          use#use19(xlink:href='#fLogo', data-v-0d899434='', style='fill:#000000', x='0', y='0', width='100%', height='100%')
          use#use21(xlink:href='#fLogo', data-v-0d899434='', style='fill:#feeb57', x='0', y='0', width='100%', height='100%')
</template>
<script>
export default {
  props: {
    width: {
      default: '90px',
      type: String
    }
  }
}
</script>
