<template lang="pug">
  div
    v-dialog(v-model="dialog", max-width="290")
      v-card
        form(action="https://formspree.io/info@helpmeimfamous.com" method="POST")
          v-card-title
              v-text-field(name="email" v-model="email" placeholder="Your email")
          v-card-actions
              v-btn.ma-0(flat, color="primary" dark type="submit") Subscribe
    v-btn.ma-0.elevation-24(color="primary" dark large @click="dialog=true") {{cta}}
</template>
<script>
export default {
  props: {
    cta: {
      default: 'Request a demo',
      type: String
    }
  },
  data() {
    return {
      dialog: null,
      email: ''
    }
  },
  computed: {
    formData() {
      const data = new FormData()
      data.set('email', this.email)
      return data
    }
  },
  methods: {
    post() {
      const url = 'https://formspree.io/info@helpmeimfamous.com'
      return this.$axios.$post(url, this.formData)
    }
  }
}
</script>
<style lang="styl" scoped>
.v-btn--large
    font-size: 20px
    height: 64px
    text-transform: initial
    padding: 0 32px
</style>
