<template lang="pug">
  section.secondFold
    v-layout(column)
      v-flex(xs12)
        h1 Control every aspect of your collection
    v-container(grid-list-xl)
      v-layout(row wrap)
        v-flex(xs12, md4)
          .cell
            green(width="200")
            h2 Peace of mind
            p Avoid worrying about your collection is in danger. Store your data within your colleague's computers. No third-parties!
        v-flex(xs12, md4)
          .cell
            yellow
            h2 Trusted network
            p This network is only formed by trustworthy galleries, collectors, curators, and institutions. From artists to artists.
        v-flex(xs12, md4)
          .cell
            purple
            h2 Share your work
            p Send your new masterpiece to your colleagues with just a click! Send an email with a link that will give access to your work.
</template>
<script>
import green from '~/components/green.vue'
import yellow from '~/components/yellow.vue'
import purple from '~/components/purple.vue'
export default {
  components: {
    green,
    yellow,
    purple
  }
}
</script>
<style lang="styl" scoped>
@require '~assets/style/colors.styl'
.secondFold
  color: white
  background: gray-300
  padding-top: 78px
  padding-bottom: 142px
  h1, h2, p
    color: white
    text-align: center
  h1
    font-size: 45px
    line-height: 1.1
  .cell
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    margin-top: 100px
    h2
      font-size: 30px
      text-align: center
      margin-bottom: 15px
      margin-top: -55px
    p
      font-size: 16px
      text-align: center

</style>
