<template lang="pug">
  .share
    h3 Share on:
    .networks
      div
        v-btn(flat, icon, :href="twitter")
          v-icon(large) mdi-twitter
      div
        v-btn(flat, icon :href="facebook")
          v-icon(large) mdi-facebook
      div
        v-btn(flat, icon, :href="linkedin")
          v-icon(large) mdi-linkedin
</template>
<script>
export default {
  data() {
    return {
      title: 'Digital Art Drive',
      description: 'Lorem ipsum',
      url: 'https://google.com'
    }
  },
  computed: {
    facebook() {
      return `https://www.facebook.com/sharer/sharer.php?u=${this.url}`
    },
    linkedin() {
      return `https://www.linkedin.com/shareArticle?mini=true&url=${
        this.url
      }&title=${this.title}&source='danielombrana.es`
    },
    twitter() {
      return `http://twitter.com/share?text=${
        this.title
      }&url=${this.url}`
    }
  }
}
</script>
<style lang="styl" scoped>
@require '~assets/style/colors.styl'
.share
  margin-top: 135px
  h3
    font-family: 'Open Sans', sans-serif !important
    color: gray-500
    font-size: 26px
    font-weight: bold
    text-align: center
  .networks
    margin-top: 43px
    display: flex
    justify-content: space-around
@media(min-width: 1024px)
  .share
    display: flex
    align-items: center
    h3
      margin-top: 0
    .networks
      margin-top: 0px
      margin-left: 10px
</style>
