<template lang="pug">
  section.sixthFold
    logo(width="160px")
    h1 Digital Art Drive is a work in progress
    p Get notified on system updates
    v-text-field(
      v-model="email"
      solo
      placeholder="Your email"
      label="Your email"
      block)
        template(v-slot:append)
          v-btn.btnS(color="primary", large, block) Notify me
    v-btn.elevation-24.btnP(color="primary", large, block, style="margin-top: -20px") Notify me
    share
    cFooter
</template>
<script>
import logo from '~/components/logo.vue'
import share from '~/components/share.vue'
import cFooter from '~/components/footer.vue'
export default {
  components: {
    logo,
    share,
    cFooter
  },
  data() {
    return {
      email: ''
    }
  }
}
</script>
<style lang="styl" scoped>
@require '~assets/style/colors.styl'

.v-text-field.v-text-field--solo:not(.v-text-field--solo-flat) > .v-input__control > .v-input__slot
  border-radius: 0px

.v-text-field
  width: 100%

.sixthFold
  background: green-300 url('~assets/shape.svg')
  display: flex
  flex-direction: column
  align-items: center
  h1
    font-size: 40px
    text-align: center
    line-height: 1.1
    margin-bottom: 15px
  p
    font-size: 20px
    text-align: center
    margin-bottom: 15px

.v-btn
    text-transform: initial

.btnS
  display: none

@media(min-width: 1024px)
  .sixthFold
    background: green-300 url('~assets/shapeDesktop.svg')
    background-size: cover
    background-repeat: no-repeat
  .btnP
    display: none

  .btnS
    margin: 0;
    height: 48px
    right: -12px
    width: 300px
    display: flex

  .v-text-field
    width: 700px

</style>
