<template lang="pug">
  div(style="position:relative; height:722px; overflow: hidden;")
    video.geometry(loop, autoplay, muted)
      source(src="/geometry.webm", type="video/webm; codecs=vp9,vorbis")
      source(src="/geometry.mp4", type="video/mp4")
    section.thirdFold
      h1 Do you own Digital Art? This is for you
      requestDemo.demo
</template>
<script>
import requestDemo from '~/components/requestDemo.vue'
export default {
  components: {
    requestDemo
  }
}
</script>
<style lang="styl" scoped>
.geometry
  min-width: 100vw
  min-height: 100%
  top: 0
  left: 0
.thirdFold
  position: absolute
  top: 0
  display: flex
  width: 100vw
  height: 722px
  flex-direction: column
  align-items: center
  justify-content: center
  h1
    font-size: 40px
    text-align: center
    margin-bottom: 58px
</style>
