$body-font-family = 'Open Sans', sans-serif
// Import Vuetify styling
@require '~vuetify/src/stylus/app.styl'
@require '~assets/style/colors.styl'


head-font-family = 'PT Serif', serif

base-font-size =   18px

body
  font-family: $body-font-family 
  font-size: base-font-size

h1,h2,h3,h4,h5,h6
  font-family: head-font-family !important
  font-weight: 300
  color: gray-300

p
  font-family: $body-font-family
  color: gray-500

section
  padding: 16px

@media(min-width: 1024px)
    section
        padding-left: 180px
        padding-right: 180px

.v-btn
  border-radius: 0px !important
