<template lang="pug">
div
  v-layout(
    column
    justify-center
    align-center)
    v-flex(xs12)
        firstfold
        secondfold
        thirdfold
        fourthfold
        sixthfold
</template>

<script>
import firstfold from '~/components/firstfold.vue'
import secondfold from '~/components/secondfold.vue'
import thirdfold from '~/components/thirdfold.vue'
import fourthfold from '~/components/fourthfold.vue'
import sixthfold from '~/components/sixthfold.vue'
export default {
  components: {
    firstfold,
    secondfold,
    thirdfold,
    fourthfold,
    sixthfold
  }
}
</script>
